#include "../submodules/lib-nxa-sdk/nexus-sdk-resource.h"

// RCDATA is used for raw binary files (like PNGs)
IDB_TRACKBAR_BG             RCDATA "../submodules/lib-nxa-sdk/ref/textures/controls/trackbar/154968.png"
IDB_TRACKBAR_ATLAS_BG       RCDATA "../submodules/lib-nxa-sdk/ref/textures/controls/trackbar/tb-track.png"
IDB_TRACKBAR_NUB            RCDATA "../submodules/lib-nxa-sdk/ref/textures/controls/trackbar/tb-nub.png"

IDB_CHECKBOX_UNCHECKED          RCDATA "../submodules/lib-nxa-sdk/ref/textures/controls/checkbox/cb-unchecked.png"
IDB_CHECKBOX_UNCHECKED_ACTIVE   RCDATA "../submodules/lib-nxa-sdk/ref/textures/controls/checkbox/cb-unchecked-active.png"
IDB_CHECKBOX_UNCHECKED_DISABLED RCDATA "../submodules/lib-nxa-sdk/ref/textures/controls/checkbox/cb-unchecked-disabled.png"
IDB_CHECKBOX_CHECKED            RCDATA "../submodules/lib-nxa-sdk/ref/textures/controls/checkbox/cb-checked.png"
IDB_CHECKBOX_CHECKED_ACTIVE     RCDATA "../submodules/lib-nxa-sdk/ref/textures/controls/checkbox/cb-checked-active.png"
IDB_CHECKBOX_CHECKED_DISABLED   RCDATA "../submodules/lib-nxa-sdk/ref/textures/controls/checkbox/cb-checked-disabled.png"

IDR_AUDIO_CLICK WAVE "../submodules/lib-nxa-sdk/ref/audio/button-click.wav"

IDB_DROPDOWN_ARROW RCDATA "../submodules/lib-nxa-sdk/ref/textures/controls/dropdown/156057.png"
